/* A simple CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's width/height */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 75%);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

h1, h2, h3 {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 75%);
  -webkit-background-clip: text;  /* For Safari */
  background-clip: text;          /* For Chrome, Firefox */
  color: transparent; 
}

a, button, .tab-button, .add-new-icon {
  cursor: pointer;
}

p, input, button {
  font-size: 17px;
}

p {
  color: #3d3d3d;
}

button {
  background-color: #14cc64;
  color: white;
  height: 35px;
  border: none;
  border-radius: 4px;
}


.warning {
  color: red;
  text-align: center;
}
