.collectables-wrap {
	width: 100%;
	padding-top: 50px;
	margin: 0;
	background-color: white;
	height: 100vh;
	overflow: scroll;
	padding-bottom: 60px;
}

.collectables-wrap h1 {
	text-align: center;
	font-size: 32px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.collectables-ul-wrap {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.collectables-sub-head{
	text-align: center;
	margin: 5px 28px 43px 28px;
}

.collectables-ul-wrap ul {
	margin: 0 28px;
}

.collectables-ul-wrap ul li {
	border-bottom: 1px solid #d9d9d9;
}

.collectables-ul-wrap ul li:last-child {
	border-bottom: none;
}

.collectables-van-no {
	display: flex;
	justify-content: space-between;
	align-items:  center;
	margin-top: 20px;
	margin-bottom: 11px;
}

.collectables-van-no h1{
	margin: 0;
	text-align: center;
	font-size: 36px;
}

.collectable-item {
	padding: 8px 25px;
	margin-bottom: 0;
	padding-bottom: 24px;
}

.close-collectable {
	cursor: pointer;
}

.time {
	font-style: italic;
	color: orange;
}

