header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	height: 48px;
	display: flex;
	z-index: 101;
}
header img {
	width: 35px;
	margin: 0 auto;
	opacity: 0.5;
}