header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	z-index: 101;
	align-items: center;
	justify-content: space-between;
}
.primary-logo {
	font-size: 25px;
	margin: 12px 0 12px 25px;
/*	color: #8b8b8b;*/
	color: #14abde;
	opacity: 1;
	transform: scaleX(-1);
}

.top-nav-icon {
	margin-right: 25px;
	color: #8b8b8b;
	font-size: 22px;
	align-items: center;
	opacity: 0.7;
	cursor: pointer;
}

.top-nav-icon.active {
	color: #14abde;
}

.info
 {
 	margin-right: 25px;
}

 .history {

 }