.info-wrap {
	width: 100%;
	padding-top: 50px;
	margin: 0;
	background-color: white;
	height: 100vh;
	overflow: scroll;
	padding-bottom: 100px;
}

.info-wrap ul {
	max-width: 900px;
	padding: 0 20px;
	margin: 30px auto 0 auto;
}

.info-wrap li {
 margin-top: 60px;
}

.info-icons {
	font-size: 26px;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: #8b8b8b;
}
