.landing-wrap {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 75%);
	opacity: 1;
	z-index: 1000;
	position: fixed;
	overflow: scroll;
	text-align: center;
	align-items: center;
}

.landing-logo {
	font-size: 45px;
	color: white;
	margin: 60px 0 40px 0;
	transform: scaleX(-1);
}

.landing-inner-wrap {
	margin: 0 auto 50px auto;
}

.hero {
	margin: 0px auto 60px auto;
	max-width: 768px;
	padding: 0 20px;
}

.hero h1 {
/*	margin-top: 100px;*/
	margin-bottom: 10px;
}

.hero h2, .hero h1, .hero p {
	color: white;
}

.features-row {
	display: flex;
	width: 70%;
	max-width: 768px;
	margin: 0 auto 25px;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 15px;
}

.feature-box {
/*	background-color: white;*/
	padding: 20px 20px 45px 20px;
	width: 30%;
	margin-top: 20px;
	box-sizing: border-box;
/*	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);*/
	text-align: center;
	position: relative;
}


.feature-box h3 {
	margin-bottom: 20px;
	color: white;
}

.feature-box p {
	color: white;
}

.feature-box-img {
	width: 90%;
	height: 150px;
	object-fit: contain;
	margin-bottom: 15px;
/*	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);*/
}

.feature-icon-wrap {
	width: 36px;
	height: 36px;
	background-color: #f2f2f2;
	border-radius: 35px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: center;

}

.feature-icon{
	font-size: 16px;
	margin: 6px;
	color: #8b8b8b;
}

.get-started {
	width: 150px;
	margin-top: 70px;
}

@media screen and (max-width: 767px) {
	.landing-logo {
		font-size: 50px;
	}

	.hero {
	margin: 0px auto 60px auto;
	padding: 0 30px;
}

	.features-row {
		display: block;
	}

	.feature-box {
		width: 100%;
		margin-bottom: 80px;
	}

	.get-started {
		margin-top: 0;
		margin-bottom: calc(env(safe-area-inset-bottom, 0px) + 50px);
	}
}