.tab-button {
	padding: 8px 23px 8px 23px;
	text-align: center;
}

.tab-button:not(:last-child) {
    margin-right: 10px;
}

.tab-button {
	position: relative;
	font-size: 20px;
	margin-top: 5px;
	color: #8b8b8b;
}

.active {
	color: #14abde;
}

span.tab-alert {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: red;
}

span.tab-counter {

	position: absolute;
	width: 15px;
	height: 15px;
	right: 17px;
	top: 17px;
	z-index: 999;
	color: #0093E9;
	font-weight: bold;
	font-size: 14px;
}
