.tab-button {
	padding: 8px 23px 8px 23px;
	text-align: center;
}

.tab-button:not(:last-child) {
    margin-right: 10px;
}

.tab-button {
	font-size: 20px;
	margin-top: 5px;
	color: #8b8b8b;
}

.active {
	color: #14abde;
}

span.tab-alert {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: red;
}
